@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Restore default active state without changing background */
/* Ensure text color stays the same when active */
.menu li:active,
.menu li a:active,
.menu details:active,
.menu summary:active {
  background-color: inherit !important; /* Prevents background color change */
  color: inherit !important; /* Prevents text color change */
  outline: none; /* Removes default browser focus outline */
}
summary > :not(summary::after) {
  color: white;
}
.blob {
  position: absolute;
  width: 100%; /* Adjust size as needed */
  z-index: -1; /* Send it behind the image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-2 {
  position: absolute;
  width: 80%; /* Adjust size as needed */
  z-index: -1; /* Send it behind the image */
  top: 60%;
  transform: scale(2);
  left: 50%;
  transform: translate(-50%, -50%);
}
.food-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
